.~lock*
.ipynb_checkpoints
.vscode
__pycache__

figures/*.jpg
figures/*.pdf
figures/*.aux
figures/*.log
figures/*.out

nohup.out
tmp.sh

x0s_*.npy

*.py*.ipynb

derived_data/rsa_timecourses.tsv
derived_data/rdm_*.npy
derived_data/neurometrics_*.npy
derived_data/erps.tsv
